# dependencies
node_modules

# misc
.DS_Store
*.pem

# debug
yarn-debug.log*
yarn-error.log*

# turbo
.turbo

# client

apps/client/node_modules
apps/client/*.log*
apps/client/.nuxt
apps/client/.nitro
apps/client/.cache
apps/client/.output
apps/client/.env
apps/client/dist
